<h2 style="background-color:#72E0C8; padding: 10px; color:white">About Us</h2>
<div class="row">
  <div class="six columns">
    <img src="./images/pic-about.jpg" style="max-width:100%">
  </div>
  <div class="six columns">
    <p>
      <strong>Darin's Hawaiian Shaved Ice</strong> is a family-run business committed to serving our community the tastiest shaved ice around. Since June 2012, we have been operating in the Greater Salt Lake area from our home base in Ogden, UT.
    </p>
    <p>
      We are located at <strong><a href="https://www.google.com/maps/place/715+Washington+Blvd,+Ogden,+UT+84404/@41.2514873,-111.9719861,17z/data=!3m1!4b1!4m2!3m1!1s0x87530ea4067d05db:0x827ccdf8ee9c1944?hl=en">715 Washington Boulevard, Ogden, UT 84404</a></strong>.
    </p>
    <p>
      <strong>We now offer catering!</strong> Shaved ice makes a great compliment to whatever event you are having, whether it's a wedding, birthday, business function, graduation party, or whatever! The possibilities are endless. We guarantee our shaved ice will make your event memorable and be an absolute hit with guests of all ages. Prices are very affordable. Contact us for a consultation and we will discuss flavors and pricing options!
    </p>
  </div>
</div>