<div class="row">
  <div class="twelve columns" style="text-align:center; padding-bottom:50px">
    <h1>Get in touch with Darin.</h1>
  </div>
</div>

<form method="POST" action="/contact" name="usrform">
  <div class="row">
    <div class="six columns">
      <label for="email">Your email</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="email" name="email">
    </div>
  </div>
  <label for="exampleMessage">Message</label>
  <textarea class="u-full-width" placeholder="Hi Darin …" form_id="usrform" name="message"></textarea>
  <input class="button-primary" type="submit" value="Submit">
</form>

<div class="row">
  <div class="twelve columns">
    <h1 style="padding-top:40px; text-align:center">Or give us a call at: 385.226.3349</h1>
  </div>
</div>

