<div class="row" style="padding-bottom: 30px">
  <div class="twelve columns">
    <h1 style="text-align: center; background-color:#72E0C8; padding: 20px; color:white">
      Darin's Hawaiian Shaved Ice
    </h1>
    <img src="./images/hi-edit.jpg" style="max-width:100%">
  </div>
</div>
<div class="row">
  <div class="five columns" style="padding-left: 3%">
    <h4>Events</h4>
    <p>
      <strong>Saturday, March 5th</strong><br>
      12:00pm to 6:00pm<br>
      Ogden Nature Center, Ogden, UT<br>
    </p>
    <p>
      <strong>Sunday, March 20th</strong><br>
      10:00am to 2:00pm<br>
      South Ogden Farmer's Market, South Ogden, UT<br>
    </p>
    <p>
      <strong>Saturday, April 2nd</strong><br>
      11:00am to 5:00pm<br>
      Ninth Street Park Spring Fair, Ogden, UT<br>
    </p>
  </div>
  <div class="seven columns">
    <h4>What is Hawaiian Shaved Ice?</h4>
    <p>
      Shaved ice (or "shave ice") originated in Hawaii, by way of Japan. It's similar to a snow cone - only better. Instead of using soulless, corporate crushed ice (like a snow cone), we shave ours by hand from a large artisanal block.
    </p>
    <p>
      We then add natural fruit flavors of your choosing - flavors like mango, pineapple and coconut. We carry <strong>24 flavors</strong> in all - and you can mix up to three for free!
    </p>
    <p>
      <strong>Treat yourself to the official dessert of paradise!</strong>
    </p>
  </div>
</div>
