<div class="row" style="text-align:center">
	<div class="twelve columns">
		<h1 style="text-decoration:underline; padding-bottom: 30px">Photos from Past Events</h1>
	</div>
</div>
<div class="row">
	<div class="four columns">
		<a href="javascript:;" data-img-url="/images/pic1.jpg" class="lightbox-link"><img src="/images/pic1.jpg" width="250"></a>
	</div>
	<div class="four columns">
		<a href="javascript:;" data-img-url="/images/pic4.jpg" class="lightbox-link"><img src="/images/pic4a.jpg" width="250"></a>
	</div>
	<div class="four columns">
		<a href="javascript:;" data-img-url="/images/pic3.jpg" class="lightbox-link"><img src="/images/pic3.jpg" width="250"></a>
	</div>
</div>
<div class="row">
	<div class="four columns">
		<a href="javascript:;" data-img-url="/images/pic2.jpg" class="lightbox-link"><img src="/images/pic2.jpg" width="250"></a>
	</div>
	<div class="four columns">
		<a href="javascript:;" data-img-url="/images/pic1.jpg" class="lightbox-link"><img src="/images/pic1.jpg" width="250"></a>
	</div>
	<div class="four columns">
		<a href="javascript:;" data-img-url="/images/pic3.jpg" class="lightbox-link"><img src="/images/pic3.jpg" width="250"></a>
	</div>
</div>
<div class="row">
	<div class="four columns">
		<a href="javascript:;" data-img-url="/images/pic2.jpg" class="lightbox-link"><img src="/images/pic2.jpg" width="250"></a>
	</div>
	<div class="four columns">
		<a href="javascript:;" data-img-url="/images/pic2.jpg" class="lightbox-link"><img src="/images/pic2.jpg" width="250"></a>
	</div>
	<div class="four columns">
		<a href="javascript:;" data-img-url="/images/pic4.jpg" class="lightbox-link"><img src="/images/pic4a.jpg" width="250"></a>
	</div>
</div>

			<div id="lightbox-outer">
					<div id="lightbox-inner">
						<img src="" id="lightbox-image">
					</div>
				</div>